{# Additional Info table for scheming-based instrument/platform packages #}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    ] -%}

{% block package_additional_info %}
  {%- set is_platform = (pkg_dict.get('is_platform', 'false') | string | lower == 'true') -%}
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed" style="table-layout: fixed; width: 100%;">
    <thead>
      <tr>
        <th scope="col" style="width: 30%;">{{ _('Field') }}</th>
        <th scope="col" style="width: 70%;">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
  {%- set identifier_url = h.pidinst_identifier_url(pkg_dict) -%}
  {%- if identifier_url -%}
      <tr>
        <th scope="row" class="dataset-label" style="width: 30%;">{{ _("Identifier") }}</th>
        <td class="dataset-details" style="width: 70%;">
          {%- snippet 'scheming/display_snippets/identifier_url_display.html',
            data=pkg_dict, schema=schema -%}
        </td>
      </tr>
  {%- endif -%}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none -%}
      {#- Resolve the correct label based on is_platform -#}
      {%- if is_platform and field.get('label_platform') -%}
        {%- set display_label = field.label_platform -%}
      {%- elif not is_platform and field.get('label_instrument') -%}
        {%- set display_label = field.label_instrument -%}
      {%- else -%}
        {%- set display_label = field.label -%}
      {%- endif -%}
      <tr>
        <th scope="row" class="dataset-label" style="width: 30%;">{{
          h.scheming_language_text(display_label) }}</th>
        <td class="dataset-details" style="width: 70%;"{%
          if field.display_property %} property="{{ field.display_property
          }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
      <tr>
        <th scope="row" class="dataset-label" style="width: 30%;">{{ _("State") }}</th>
        <td class="dataset-details" style="width: 70%;">{{ _(pkg_dict.state) }}</td>
      </tr>
  {% endif %}
    </tbody>
  </table>
{% endblock %}
