{% ckan_extends %}

{% block content %}
  {% set _ip = package.is_platform | string | lower %}
  {% set _dtype = 'platform' if _ip in ('true', '1') else 'instrument' %}
  <div class="dataset-item-wrapper"
       data-is-platform="{{ 'true' if _ip in ('true', '1') else 'false' }}"
       data-dataset-id="{{ package.id }}"
       data-dataset-type="{{ _dtype }}">
    <div class="dataset-item-content">
      {{ super() }}
    </div>
  </div>
{% endblock %}

{% block notes %}
  {% if package.description %}
    <div>{{ h.markdown_extract(package.description, extract_length=180)|urlize }}</div>
  {% else %}
    <p class="empty">{{ h.humanize_entity_type('package', package.type, 'no description') or _("There is no description for this instrument") }}</p>
  {% endif %}
{% endblock %}

{% block heading %}
  <h2 class="dataset-heading" data-analytics-action="search-click">
    {{ super() }}
  </h2>
  {% if h.pidinst_is_manual_record(package) %}
    <span class="badge badge-info">{{ _('External identifier') }}</span>
  {% endif %}
  {% snippet "snippets/instrument_meta.html", pkg=package %}
{% endblock %}
